<f:view xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:prime="http://primefaces.org/ui">
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>#{menuController.title}</title>
		<style>
		body {font-size:12px; }
</style>
	</h:head>
	<h:body>
		<h:form>
			<prime:panel header="What do you see here?" >
				<div style="height:50px">
					This is a simple PrimeFaces 5 project running on Spring Boot 1.1.4.
				</div>
			</prime:panel>
			<prime:panel header="JSF 2.2 Bean Access">
				#{helloWorldBean.hello}
			</prime:panel>

			<prime:panel header="autirs">
				#{AS.all}
			</prime:panel>
		</h:form>
	</h:body>
</f:view>
